/.idea
/node_modules
/vendor
/public/storage
/storage/*.key

.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log

public/css/app.css
public/js/app.js
public/firebase-messaging-sw.js

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
